.header {
    position: relative;
    background: #3A96FF;
    height: 110px;
}

.header__content {
    height: 100%;
    margin: auto;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.header__right-side {
    text-align: right;
}