.miniNews {
    width: 100%;
    background: white;
    padding: 5px;
    box-sizing: border-box;
}

.miniNews:not(:last-child) {
    margin-bottom: 10px;
}

.miniNews__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: #3A96FF 3px solid;
}

.miniNews__title {
    font-weight: bold;
    font-size: 18px;
    color: #3A96FF;
}

.miniNews__data {
    font-size: 16px;
    color: #A8A8A8;
}

.miniNews__description {
    font-size: 16px;
    display: -webkit-box;
}

.miniNews__readMore {
    display: block;
    text-align: right;
}