.order {
    margin-top: 20px;
    background: white;
    padding: 20px;
}

.order__line {
    display: flex;
}

.order__title {
    font-size: 20px;
    font-weight: bold;
}

.order__title--ml50 {
    margin-left: 50px;
}

.order_text {
    font-size: 16px;
    font-weight: normal;
    list-style: none;
}