.textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    resize: none;
    font-size: 16px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
}

.textarea:hover {
    border-color: #888;
}

.textarea:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}