@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "style/contacts.css";
@import "style/footer.css";
@import "style/header.css";
@import "style/logo.css";
@import "style/nav.css";
@import "style/slider.css";
@import "style/main.css";
@import "style/miniNews.css";
@import "style/news.css";
@import "style/rating.css";
@import "style/productCard.css";
@import "style/hotSales.css";
@import "style/review.css";
@import "style/product.css";
@import "style/filter.css";
@import "style/inputs.css";
@import "style/catalog.css";


* {
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #CBEEFC;
    font-family: 'Roboto', sans-serif;
}

.inner {
    position: relative;
    width: 1170px;
    margin: auto;
}

.container {
    flex: 1 0 auto;
}

.footer-container {
    flex: 0 0 auto;
}

.header-container {
    flex: 0 0 auto;
}

.button-primary {
    display: block;
    font-size: 20px;
    width: 100%;
    background: #3A96FF;
    padding: 18px 0;
    color: white;
    border: none;
    cursor: pointer;
}

.button-primary:not(:last-child) {
    margin-bottom: 5px;
}

.button-primary:hover {
    background: #020251;
}

.back-link {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #3A96FF;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

